@import 'tailwindcss';

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --text-shadow-nav: 0px 4px 4px #00000033;
    --color-nav: #394867;
    --color-main: #212A3E;
}